<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Checkout - Zenox-SHOP-ZA</title>
<link rel="stylesheet" href="../public/css/style.css">
</head>

<body>

<header>
<h1>💳 Checkout</h1>
</header>

<h2>Select Payment Method</h2>

<form>

<label>
<input type="radio" name="payment" value="1Voucher">
1Voucher
</label>

<br><br>

<label>
<input type="radio" name="payment" value="OTT Voucher">
OTT Voucher
</label>

<br><br>

<label>
<input type="radio" name="payment" value="BLU Voucher">
BLU Voucher
</label>

<br><br>

<input
type="text"
placeholder="Enter Voucher Code">

<br><br>

<button type="submit">
Complete Payment
</button>

</form>

</body>
</html>
